<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Helsinki Events</title>
  </head>
  <body>
    <div id="app" class="m-3">
      <h1>Upcoming Events</h1>

      <input id="week" class="mb-2" v-model="weekstring" type="week" v-on:change="fetchEvents">

      <div v-if=loading class="alert alert-info show">
        <strong>Loading...</strong> Please wait a moment.
      </div>

      <div v-if=error class="alert alert-danger show">
        <strong>Error!</strong> Failed to fetch events. Try again later.
      </div>

      <ul v-if="events" class="list-group">
        <li v-for="event in events" class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5><a v-bind:href="event.url">{{ event.name }}</a></h5>
          <small>{{ formatDate(event.time) }}</small>
        </div>
        <small>{{ event.location }}</small>
        </li>
      </ul>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="static/moment.min.js"></script>
    <script src="static/moment-timezone-with-data-10-year-range.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                events: null,
                error: false,
                loading: false,
                weekstring: null
            },
            methods: {

              formatDate(dt) {
                return moment(dt).tz("Europe/Helsinki").format("dddd, MMM D YYYY, h:mm A")
              },

              setError(str) {
                this.events = null
                this.error = str
                this.loading = false
              },

              handleErrors(response) {
                if (!response.ok) {
                  this.setError(response.statusText)
                  throw Error(response.statusText)
                }
                return response
              },

              networkError() {
                this.setError("Network error")
                throw Error("Network error")
              },

              async fetchEvents() {
                this.error = false
                this.events = null
                this.loading = true

                fetch("/events/"+this.weekstring)
                  .then(this.handleErrors, this.networkError)
                  .then(response => response.json())
                  .then((eventsJson) => {
                    this.events = eventsJson
                    this.loading = false
                  })
                  .catch(error => console.log(error))
              }
            },

            created: function() {
              this.weekstring = moment().format("GGGG")+"-W"+moment().format("WW")
              this.fetchEvents()      
            }
        })
    </script>
  </body>
</html>